<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @announcement.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @announcement.message %>
</p>

<p>
  <strong>Visible to users:</strong>
  <%= @announcement.visible_to_users %>
</p>

<p>
  <strong>Visible to admins:</strong>
  <%= @announcement.visible_to_admins %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @announcement.start_date %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
