<p id="notice"><%= notice %></p>

<h1><b><%= @transaction_type.title %></b></h1>

<p>
  <strong>Description:</strong>
  <%= @transaction_type.description %>
</p>

<hr>
<div class="pull-right">
  <%= link_to 'Edit', edit_transaction_type_path(@transaction_type) %> |
  <%= link_to 'Back', transaction_types_path %>
</div>
