<table class="table table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th class="text-xs-center">Date</th>
      <th class="text-xs-center">Credit</th>
      <th class="text-xs-center">Debit</th>
      <th class="text-xs-center">Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @account_transactions.each do |account_transaction| %>
      <tr>
        <td class="text-xs-center"><%= account_transaction.created_at.localtime.strftime("%^b-%d-%Y %H:%M") %></td>
        <td class="text-xs-right"><%= number_to_currency(account_transaction.amount, unit: "P") if account_transaction.transaction_type == 1 %></td>
        <td class="text-xs-right"><%= number_to_currency(account_transaction.amount, unit: "P") if account_transaction.transaction_type == 2 %></td>
        <td class="text-xs-right"><%= number_to_currency(account_transaction.new_balance, unit: "P") %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'View Details', account_transaction, class: "btn btn-sm btn-info" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-md-center">
  <%= will_paginate @account_transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>