<h1><b><%= @transaction_type.title %> Transaction for <%= @account.account_type_desc %> #<%= @account.id.to_s.rjust(6, '0') %></b></h1>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<hr>
<%= link_to 'Back', account_path(@account), class: "pull-right" %>
