<br>
<h1><b>Accounts Management</b></h1>

<div class="form-inline">
  <%= form_tag accounts_management_path, method: :get, role: "search" do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], placeholder: "Search names or emails", class: "form-control" %>
      <%= select_tag :t, options_for_select([["All users", nil], ["Admins", true], ["Regular", false]]), class: "form-control" %>
      <%= button_tag "<i class=\"fa fa-search\"></i> Search".html_safe, class: "btn btn-primary", type: :submit %>
    </div>
  <% end %>
</div>

<table class="table table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.user_type %></td>
        <td><%= link_to "View details", user, class: "btn btn-sm btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-md-center">
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>