<p id="notice"><%= notice %></p>

<h1><b><%= @user.last_name %>, <%= @user.first_name %>'s profile</b></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      First Name: <%= @user.first_name %><br>
      Last Name: <%= @user.last_name %>
    </div>
    <div class="col-md-6">
      Email: <%= @user.email %><br>
      User Type: <%= @user.user_type %>
    </div>
  </div>
</div>
<hr>
<h1>
  <b>Accounts</b>
</h1>

<%= link_to '<i class="fa fa-plus"></i> Add Account'.html_safe, new_account_path(user_id: @user.id), class: "pull-right" %>
<%= render_accounts %>

<hr>
<div class="pull-right">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
