<p id="notice"><%= notice %></p>

<h1>Viewing <%= @user.last_name %>, <%= @user.first_name %>'s profile</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Email: <%= @user.email %></p>
      <p>First Name: <%= @user.first_name %></p>
    </div>
    <div class="col-md-6">
      <p>User Type: <%= @user.user_type %></p>
      <p>Last Name: <%= @user.last_name %></p>
    </div>
  </div>
</div>

<h1>Accounts</h1>
<%= link_to '<i class="fa fa-plus"></i> Add Account'.html_safe, new_account_path(user_id: @user.id), :class => "pull-right" %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Account Type</th>
      <th>Beginning Amount</th>
      <th>Current Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_accounts %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
</div>


<div class="pull-right">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
