<h1><b><%= show_user_header %>'s profile</b></h1>

<div class="container">
  <div class="row">
    <% if @user.first_name.present? && @user.last_name.present? %>
      <div class="col-md-6">
        First Name: <%= @user.first_name %><br>
        Last Name: <%= @user.last_name %>
      </div>
    <% end %>
    <div class="col-md-6">
      Email: <%= @user.email %><br>
      User Type: <%= @user.user_type %>
    </div>
  </div>
</div>
<hr>
<h1>
  <b>Accounts</b>
</h1>

<% if current_user.admin && current_user != @user %>
  <%= link_to '<i class="fa fa-plus"></i> Add Account'.html_safe, new_account_path(user_id: @user.id), class: "pull-right" %>
<% end %>
<%= render_accounts %>

<hr>
<div class="pull-right">
  <%= link_to 'Back', root_path %>
</div>
