<h1>Welcome <%= current_user.last_name %>, <%= current_user.first_name %></h1>
<%= image_tag current_user.image , height: 50 %>
<p>User Type: <%= current_user.user_type %></p>

<%= render_homepage %>



