<h1><b><%= show_user_header %>'s profile</b></h1>

<div class="container">
  <div class="row">
    <% if @user.first_name.present? && @user.last_name.present? %>
      <div class="col-md-6">
        First Name: <%= @user.first_name %><br>
        Last Name: <%= @user.last_name %>
      </div>
    <% end %>
    <div class="col-md-6">
      Email: <%= @user.email %><br>
      User Type: <%= @user.user_type %>
    </div>
  </div>
</div>

<hr>
<div class="pull-right">
  <%= link_to 'Edit My Account', edit_user_registration_path %> | 
  <%= link_to 'Back', root_path %>
</div>
