<!DOCTYPE html>
<html>
  <head>
    <title>Account Management System</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%# favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">       
        <% if user_signed_in? %>
          <div id="sidebar" class="col-md-2 sidebar fixedsticky">
            <%= render 'shared/sidebar' %>
          </div>
          <div class="col-md-10 content">
            <div class="container">
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                  <% flash.each do |name, msg| %>
                    <% if user_signed_in? %>
                      <%= content_tag :div, msg, class: bootstrap_class_for(name) %>
                    <% end %>
                  <% end %>
                  <%= yield %>
                </div>
                <div class="col-md-1">
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-md-2">
          </div>
          <div class="col-md-8 content">
            <% flash.each do |name, msg| %>
              <% if user_signed_in? %>
                      <% content_tag :div, msg, class: "alert alert-#{name}" %>
                    <% end %>
                <% end %>

            <%= yield %>
          </div>
          <div class="col-md-2">
          </div>
        <% end %>
      </div>
    </div>
  </body>
  <script>
    $('#sidebar').fixedsticky();
  </script>
</html>
