<p id="notice"><%= notice %></p>

<%= link_to icon("angle-double-left") + " " + @account.user.name + "'s profile", user_path(@account.user) %>
<hr>

<h1>
  <b><%= @account.account_type_desc %></b>
  <small><%= @account.user.name %></small>
</h1>

<div class="row">
  <div class="col-md-6">
    <p><h3><b>Beginning Amount:</b> <%= number_to_currency(@account.beginning_amount, unit: "P") %></h3></p>
  </div>
  <div class="col-md-6">
    <p><h3><b>Current Balance:</b> <%= number_to_currency(@account.balance, unit: "P") %></h3></p>
  </div>
</div>

